name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v1
        with:
          go-version: 1.16

      - run: make format

      - uses: actions-contrib/golangci-lint@v1
        env:
          GOROOT: ""
        with:
          args: "run"

      - run: make test

      - run: make release
